<!DOCTYPE html>
<html lang="en">
  <head>
    <title>machine-status</title>
    <link rel="stylesheet" type="text/css" href="{{.Web}}/css/mystyle.css">
    <link rel="icon" type="image/png" href="{{.Web}}/images/icons/favicon.ico"/>
    <script type="text/javascript">
      window.onload = function () {
        var conn;
        if (window["WebSocket"]) {
          conn = new WebSocket("{{.Ws}}");
          conn.onopen = function (evt) {
            console.log('websockt connection establised', conn);
          };
          conn.onerror = function (error) {
            console.log("onerror", error);
          };
          conn.onclose = function (evt) {
            console.log("Connection closed")
            var item = document.getElementById("notice")
            item.innerHTML = "<b>Connection closed</b>";
            window.scrollTo({ top: 0, left: 0, behavior: 'instant' })
            alert("Connection closed")
          };
          conn.onmessage = function (evt) {
            var messages = JSON.parse(evt.data);
            var item = document.getElementById(messages.Machine)
            item.innerHTML = messages.Data;
          };
        } else {
          var item = document.createElement("div");
          item.innerHTML = "<b>Your browser does not support WebSockets.</b>";
        }
      };

      function Toggle() {
        var elem = document.querySelector('button[id=collapse_toggle]')
        if (elem.innerHTML == "Collapse All"){
          document.querySelectorAll('input[class=toggle]').forEach((x) => x.checked = false)
          elem.innerHTML = "Expand All"
        }else if (elem.innerHTML == "Expand All"){
          document.querySelectorAll('input[class=toggle]').forEach((x) => x.checked = true)
          elem.innerHTML = "Collapse All"
        }
      }
    </script>
  </head>
  <body class="f9 eb15">
    <div style="display:flex; justify-content:flex-end; width:100%; padding:0;">
    <button id="collapse_toggle" class="collapse_toggle" onclick="Toggle()">Collapse All</button>
    </div>
    <div class="notice f1 b9" id="notice"></div>
    <div id="main">
      {{range .Machines}}
      <div class="wrap-collabsible">
        <input id="collapsible-{{.Machine}}" class="toggle" type="checkbox" {{.IsCollapse}}>
        <label for="collapsible-{{.Machine}}" class="lbl-toggle">{{.Alias}}</label>
        <div class="collapsible-content">
          <div class="content-inner"><pre class='b9' id="{{.Machine}}"></pre></div></div></div>
            {{end}}
    </div>
    <a href="https://github.com/cih9088/machine-status" target="_blank" style="text-decoration: none; float: right; color: gray; font-size: 10px;">machine-status</a>
  </body>
</html>
